# =========================================================
# JAVA / SPRING
# =========================================================

.gradle/
build/
out/
bin/

*.class
*.jar
*.war
*.ear

# =========================================================
# MAVEN
# =========================================================

target/

# =========================================================
# INTELLIJ
# =========================================================

.idea/
*.iml

# =========================================================
# VSCODE
# =========================================================

.vscode/

# =========================================================
# NODE / REACT / VITE
# =========================================================

node_modules/

dist/
coverage/

.npm/

# =========================================================
# LOGS
# =========================================================

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================================================
# ENVIRONMENT
# =========================================================

.env
.env.*
!.env.example

application-local.yml

# =========================================================
# OS
# =========================================================

.DS_Store
Thumbs.db
*~

# =========================================================
# CACHE
# =========================================================

.cache/
.parcel-cache/

# =========================================================
# VITE
# =========================================================

vite.config.ts.timestamp-*

# =========================================================
# TYPESCRIPT
# =========================================================

*.tsbuildinfo