SUPABASE_URL=https://mhxycuagyraepaxmpekg.supabase.co/rest/v1/
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1oeHljdWFneXJhZXBheG1wZWtnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTkyNjQ0MywiZXhwIjoyMDk1NTAyNDQzfQ.NxHkXPutCZQktHoO0THOtloVQw0yBltQInwWXVWas7M
SECRET_KEY=wcq+bAxVqjg9W1/AcCycpcCe8fMb942hTghzanAyVa8tJ+fiHo/OJ5j68dw57vPHAPTYuLXXoKg2pqsdEgcdmA==
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
